<!DOCTYPE html>
<html lang = "en-US">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
         Knight Hacks Royal Bank of Canada
          Challenge Submission   
        </title>
    </head>
    <body>
        <!-- Title Div-->
        <div class = "pageName"> Project Name </div>
        <!--About Section or a catchy phrase-->
        <div class = "extra"> Extra Content</div>
        <!-- A container with the "chat" layout-->
        <div class = "container">
            <!-- The AI Model's response goes in here-->
            <div class = "response" id = "response">
                Response is here
            </div>
            <!-- the prompt is also sent here to be displayed to the screen-->
            <div class = "userPrompt", id = "userPrompt"> user input is loaded here</div>
        <!-- End of Container-->
        </div>

        <!-- Another container-->
        <div class = "container2">
        <!-- The text box for input-->
            <textarea type = "text" id  = "Question" name = "Question" placeholder =" Whatcha wanna know?">
            </textarea>

            <!-- The button sends the ask both to the userPrompt div, and to the AI model to be interpreted-->
            <button type = "button"> Ask Away! </button>
        </div>

    </body>
</html>