{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <link rel="stylesheet" h-ref="{% static 'custom.css' %}" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
      {% endblock %}
    </title>
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" h-ref="{% static 'custom.css' %}" />

  </head>
  <body>
    <!-- Title Div -->
    <div class="h1" id="Project_Name">Project Name</div>
    <!-- About Section or a catchy phrase -->
    <div class="h6" id="Extra">Extra Content</div>
    <!-- A container with the "chat" layout -->
    <div class="container" id="container1">
      <!-- The AI Model's response goes in here -->
      <div class="response" id="response">Response is here</div>
      <!-- the prompt is also sent here to be displayed to the screen -->
      <div class="userPrompt" id="userPrompt">user input is loaded here</div>
      <!-- End of Container -->
    </div>

    <!-- Another container -->
    <div class="container" id="container2">
      <div class="form-group">
        <!-- The text box for input -->
        <textarea class="form-control input-sm" id="Question" rows="3" placeholder=" Whatcha wanna know?" style="display: inline"></textarea>
        <!-- The button sends the ask both to the userPrompt div, and to the AI model to be interpreted -->
        <button type="submit" class="btn btn-outline-secondary mb-2" style="display: inline">Ask Away!</button>
      </div>
    </div>
    {% block content %}

    {% endblock %}
  </body>
</html>
